<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.game.wolvesintablet"
    android:versionCode="1"
    android:versionName="0.2.14" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PlayersActivity" />
        <activity
            android:name=".activity.PlayersAddActivity"
            android:theme="@style/Theme.Dialog" />
        <activity android:name=".activity.RolesActivity" />
        <activity android:name=".activity.HelpActivity" />
        <activity android:name=".activity.OpeningActivity" />
        <activity android:name=".activity.NightActivity" />
        <activity android:name=".activity.NightRoleActivity" />
        <activity android:name=".activity.NightOptionActivity" />
        <activity android:name=".activity.MorningActivity" />
        <activity android:name=".activity.GameOverActivity" />
        <activity android:name=".activity.NoonActivity" />
        <activity android:name=".activity.VoteActivity" />
        <activity android:name=".activity.VoteActionActivity" />
        <activity android:name=".activity.JudgementActivity" />
    </application>

</manifest>